:root {
  --primary: rgba(0, 114, 210, 1);
  --primary-on-touch: rgba(30, 158, 255,1);
  --subtitle1: rgba(255, 255, 255, 1);
  --subtitle1-contrast: rgba(0, 0, 0, 1);
  --subtitle2:rgba(51, 51, 51, 1);
  --bg-card: rgba(255, 255, 255, 1);
  --default-gap: 56px;
  --default-gap-mobile: 32px;
  --container-padding: var(--default-gap) 40px;
  --container-padding-tablet: var(--default-gap) 24px;
  --container-padding-mobile: var(--default-gap) 16px;
  --card-border-radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-size: 16px;
  color: var(--text-color);
 }

 button {
  all: unset;
 }

 h2 {
  font-size: 22px;
 }

 .content-container {
    padding: var(--container-padding);
  }
@media (max-width: 900px) {
  .content-container {
    padding: var(--container-padding-tablet);
  }
}

@media (max-width: 600px) {
  .content-container {
    padding: var(--container-padding-mobile);
  }
}