.banner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 95px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../../app/assets/images/hero.jpg')
}

.banner-content-container {
  color: var(--subtitle1);
  max-width: 850px;
  margin: 0 auto;
}

.banner-content-container h1 {
  font-size: 40px;
}

.banner-content-container p {
  margin-top: 24px;
  line-height: 1.5;
}

.cta-contact-us {
  margin-top: 55px;
}